<!doctype html>
<html>
  <head>
    <title>Steel-Copper System Monitoring</title>

    <style>

      /* steel color:  #6f6f6f */
      /* copper color: #8e402a */

      body {
        /* background-color: DimGrey; */
        background-color: #202020;
        color:            #cccccc;
        font-family:      sans-serif;
      }

      h1 {
        color: maroon;
        /* margin-left: 40px; */
      }

      .sc-area-header {
        border-color:  #101010;
        border-width:  1px;
        border-style:  solid;;
        font-size:     300%;
        font-weight:   bold;
        text-align:    center;
        width:         80%;
        text-shadow:   0 0 8px black;
        /* -webkit-text-stroke: 2px black; */
        /* color:         #dddddd; */
        /* color:         black; */
        color:         #ddd;
        /* -webkit-text-stroke: 1px #000; */
        /* display:       inline-block; */
        margin:        auto;
        margin-bottom: 70px;
        background:    linear-gradient(to bottom,  #6f6f6f 0%,#6f6f6f 50%, #8e402a 50%, #8e402a 100%);
      }

      .sc-area-main {
        /* font-size:  300%; */
        text-align: center;
      }
    </style>


  </head>
  <body>
    <div class="sc-area-header">
      Steel-Copper System Monitoring
    </div>

    <div class="sc-area-main">
      {% for data_source, graph_files in data_sources_with_files %}
      <div class="sc-data-source">
        <div class="sc-data-source-headline">
          {{loop.index}}: {{data_source}}
        </div>
        <div class="sc-data-source-graph-files">
          {% for graph_file in graph_files %}
          <div class="sc-graph-file-headline">
            graph_file: {{graph_file}}
          </div>
          <div class="sc-graph-file-image">
            <img src="/graph/{{graph_file}}" alt="graph {{data_source}}">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}


      <!-- {% block content %} -->
      <!-- {% endblock content %} -->
    </div>
    <div class="sc-area-footer">
      footer
    </div>

  </body>
</html>
