<!doctype html>
<html>
  <head>
    <title>Head-Copper System Monitoring</title>

    <style>
      body {
        /* background-color: DimGrey; */
        background-color: #202020;
        color:            #cccccc;
        font-family:      sans-serif;
      }

      h1 {
        color: maroon;
        /* margin-left: 40px; */
      }
</style>
  </head>
  <body>
    <div class="sc-area-header">
      Steel-Copper System Monitoring
    </div>

    <div class="sc-area-main">
      {% for data_source, graph_files in data_sources_with_files %}
      <div class="sc-data-source">
        <div class="sc-data-source-headline">
          {{loop.index}}: {{data_source}}
        </div>
        <div class="sc-data-source-graph-files">
          {% for graph_file in graph_files %}
          <div class="sc-graph-file-headline">
            graph_file: {{graph_file}}
          </div>
          <div class="sc-graph-file-image">
            <img src="/graph/{{graph_file}}" alt="graph {{data_source}}">
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}


      <!-- {% block content %} -->
      <!-- {% endblock content %} -->
    </div>
    <div class="sc-area-footer">
      footer
    </div>

  </body>
</html>
